#education-container {
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    z-index: 4;
    overflow: hidden;
}



#education-main-container h1 {
    text-align: center;
    color: white;
}

#education-container {
    display: flex;
    overflow: hidden;
    z-index: 4;
}

.title-bubbles-container-closed {
    padding-top: 30px;
    width: 300px;
    height: 60vh;
    margin-left: calc(50vw - 140px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 3;

    transition: 1s ease-in-out;
}

.title-bubbles-container-open {
    padding-top: 30px;
    width: 300px;
    height: 60vh;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 3;

    transition: 1s ease-in-out;
}

.title-bubble {
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    background-color: white;
    border: 5px solid white;
}

.title-bubble:hover {
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    background-color: white;
    /* border: 5px solid white; */
    animation: border-pulse 2s linear infinite;
    /* border-image: linear-gradient(to right, #f54952, white); */
    /* border-image-slice: 1; */
}

.content-education-container-closed {
    margin-top: 20px;
    width: 600px;
    height: 600px;
    margin-left: 130px;
    background-color: white;
    transform: translateX(100vw);
    transition: 1s ease-in-out;
}

.content-education-container-open {
    margin-top: 20px;
    width: 450px;
    height: 450px;
    margin-left: calc(30vw - 120px);
    background-color: white;
    transition: transform 1s ease-in-out;
    border: 5px solid;
    animation: border-pulse 2s linear infinite;
    transform: translateX(0vw);
    transition: 1s ease-in-out;
    z-index: 8;
    padding: 20px;
}





@keyframes border-pulse {
    0% {
        border-color: white;
    }

    50% {
        border-color: #f54952;
    }

    100% {
        border-color: white;
    }
}



.education-content-text h2 {
    font-size: 30px;
}

.education-content-text p {
    font-size: 20px;
}

.simple-button {
    padding: 8px 12px;
    background: linear-gradient(to bottom, #660f56, #ae2d68);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.pointer-bar-education-one-closed {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    margin-left: calc(50vw - 140px);
    z-index: 0;
    /* transition: 1s ease-in-out; */

    animation: shrink-bar;
    animation-duration: 1s;
}

.pointer-bar-education-one-open {
    position: absolute;
    width: 500px;
    height: 10px;
    background-color: white;
    margin-left: calc(25vw - 140px);
    z-index: 0;
    /* transition: 1s ease-in-out; */

    animation: grow-bar;
    animation-duration: 1s;
}

@keyframes shrink-bar {
    0% {
        margin-left: calc(25vw - 140px);
        width: 500px;
    }

    100% {
        margin-left: calc(50vw - 140px);
        width: 1200px;
    }
}

@keyframes grow-bar {
    0% {
        margin-left: calc(60vw - 140px);
        width: 1200px;
        }
    70% {
        /* margin-left: calc(30vw - 140px); */
        width: 1100px;
    }
    100% {
        margin-left: calc(30vw - 140px);
        width: 800px;
    }
}