.App {
  text-align: center;
}

#main-container {
  position: relative;
  height: 120vh;
}

.section-background {
      background: linear-gradient(to bottom, #422680, #660f56, #ae2d68);
  height: 100vh;
  padding-top: 5vh;
}

#navbar-app-container {
  /* z-index: 5; */
}

.clear-section-separate {
  height: 30vh;
}